
/****** Object:  Database [covid]    Script Date: 8/24/2021 2:55:14 AM ******/
CREATE DATABASE [covid]

USE [covid]

/****** Object:  Table [commune]    Script Date: 8/24/2021 2:55:14 AM ******/

CREATE TABLE [commune](
	[adm2code] [nvarchar](max) NULL,
	[adm1code] [nvarchar](max) NULL,
	[adm2_en] [nvarchar](max) NULL,
	[IHSI_UNFPA_2019] [float] NULL,
	[IHSI_UNFPA_2019_female] [bigint] NULL,
	[IHSI_UNFPA_2019_male] [bigint] NULL,
	[longitude] [nvarchar](max) NULL,
	[latitude] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [factype]    Script Date: 8/24/2021 2:55:14 AM ******/




CREATE TABLE [factype](
	[factype] [float] NULL,
	[facdesc_1] [nvarchar](max) NULL,
	[facdesc] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [spa]    Script Date: 8/24/2021 2:55:14 AM ******/




CREATE TABLE [spa](
	[index] [bigint] NULL,
	[factype] [float] NULL,
	[mga] [bigint] NULL,
	[ambulance] [float] NULL,
	[service_laboratory] [float] NULL,
	[num_beds] [float] NULL,
	[adm1code] [nvarchar](max) NULL,
	[adm2code] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  View [Dispensaire]    Script Date: 8/24/2021 2:55:14 AM ******/




CREATE VIEW [Dispensaire] AS
SELECT commune.adm2_en as Commune, factype.facdesc_1 AS Health_Facility, COUNT(spa.factype) AS Num_Of_Dispensaire
FROM spa INNER JOIN commune on commune.adm2code=spa.adm2code INNER JOIN  factype on spa.factype=factype.factype
WHERE (factype.facdesc_1)='DISPENSAIRE'
GROUP BY commune.adm2_en, factype.facdesc_1;

/****** Object:  View [Hopital]    Script Date: 8/24/2021 2:55:14 AM ******/




CREATE VIEW [Hopital] AS
SELECT commune.adm2_en as Commune, factype.facdesc_1 AS Health_Facility, COUNT(spa.factype) AS Num_Of_Hopital
FROM spa INNER JOIN commune on commune.adm2code=spa.adm2code INNER JOIN  factype on spa.factype=factype.factype
WHERE (factype.facdesc_1)='HOPITAL'
GROUP BY commune.adm2_en, factype.facdesc_1;

/****** Object:  Table [covid_case]    Script Date: 8/24/2021 2:55:14 AM ******/




CREATE TABLE [covid_case](
	[index] [bigint] NULL,
	[cas_suspects] [bigint] NULL,
	[cas_confirmes] [bigint] NULL,
	[deces] [bigint] NULL,
	[taux_de_letalite] [float] NULL,
	[document_date] [datetime2](0) NULL,
	[adm1code] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [departement]    Script Date: 8/24/2021 2:55:14 AM ******/




CREATE TABLE [departement](
	[adm1code] [nvarchar](max) NULL,
	[adm1_en] [nvarchar](max) NULL,
	[IHSI_UNFPA_2019] [float] NULL,
	[IHSI_UNFPA_2019_female] [bigint] NULL,
	[IHSI_UNFPA_2019_male] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [spa_boundaries_com]    Script Date: 8/24/2021 2:55:14 AM ******/




CREATE TABLE [spa_boundaries_com](
	[Column1] [bigint] NULL,
	[ADM2_PCODE] [nvarchar](max) NULL,
	[longitude] [nvarchar](max) NULL,
	[latitude] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

INSERT [commune] ([adm2code], [adm1code], [adm2_en], [IHSI_UNFPA_2019], [IHSI_UNFPA_2019_female], [IHSI_UNFPA_2019_male], [longitude], [latitude]) VALUES (N'HT0111', N'HT01', N'Port-au-Prince', 1227540.3275701636, 648353, 579188, N'-72.34839499399999', N'18.56550390400002')
INSERT [commune] ([adm2code], [adm1code], [adm2_en], [IHSI_UNFPA_2019], [IHSI_UNFPA_2019_female], [IHSI_UNFPA_2019_male], [longitude], [latitude]) VALUES (N'HT0812', N'HT08', N'Abricots', 38701.869597500336, 18232, 20470, N'-74.25822755899998', N'18.65056404000006')
INSERT [commune] ([adm2code], [adm1code], [adm2_en], [IHSI_UNFPA_2019], [IHSI_UNFPA_2019_female], [IHSI_UNFPA_2019_male], [longitude], [latitude]) VALUES (N'HT0112', N'HT01', N'Delmas', 491434.22637939965, 258526, 232908, N'-72.29046070799996', N'18.57088500400005')


INSERT [covid_case] ([index], [cas_suspects], [cas_confirmes], [deces], [taux_de_letalite], [document_date], [adm1code]) VALUES (0, 12, 1, 0, 0, CAST(N'2020-04-07T00:00:00.0000000' AS DateTime2), N'HT05')
INSERT [covid_case] ([index], [cas_suspects], [cas_confirmes], [deces], [taux_de_letalite], [document_date], [adm1code]) VALUES (1, 11, 0, 0, 0, CAST(N'2020-04-07T00:00:00.0000000' AS DateTime2), N'HT06')
INSERT [covid_case] ([index], [cas_suspects], [cas_confirmes], [deces], [taux_de_letalite], [document_date], [adm1code]) VALUES (2, 1, 0, 0, 0, CAST(N'2020-04-07T00:00:00.0000000' AS DateTime2), N'HT08')

INSERT [departement] ([adm1code], [adm1_en], [IHSI_UNFPA_2019], [IHSI_UNFPA_2019_female], [IHSI_UNFPA_2019_male]) VALUES (N'HT01', N'West', 5010205.5550642014, 2587360, 2422846)
INSERT [departement] ([adm1code], [adm1_en], [IHSI_UNFPA_2019], [IHSI_UNFPA_2019_female], [IHSI_UNFPA_2019_male]) VALUES (N'HT02', N'South-East', 893900.650357727, 448111, 445790)
INSERT [departement] ([adm1code], [adm1_en], [IHSI_UNFPA_2019], [IHSI_UNFPA_2019_female], [IHSI_UNFPA_2019_male]) VALUES (N'HT03', N'North', 1159761.5977595127, 589825, 569932)

INSERT [factype] ([factype], [facdesc_1], [facdesc]) VALUES (1, N'HOPITAL', N'HOPITAL UNIVERSITAIRE')
INSERT [factype] ([factype], [facdesc_1], [facdesc]) VALUES (2, N'HOPITAL', N'HOPITAL DEPARTEMENTAL')
INSERT [factype] ([factype], [facdesc_1], [facdesc]) VALUES (3, N'HOPITAL', N'HOPITAL COMMUNAUTAIRE DE REFERENCE')

INSERT [spa] ([index], [factype], [mga], [ambulance], [service_laboratory], [num_beds], [adm1code], [adm2code]) VALUES (124, 7, 1, 3, 2, 0, N'HT01', N'HT0113')
INSERT [spa] ([index], [factype], [mga], [ambulance], [service_laboratory], [num_beds], [adm1code], [adm2code]) VALUES (152, 7, 1, 3, 2, 0, N'HT01', N'HT0115')
INSERT [spa] ([index], [factype], [mga], [ambulance], [service_laboratory], [num_beds], [adm1code], [adm2code]) VALUES (158, 7, 1, 3, 2, 0, N'HT01', N'HT0115')











INSERT [spa_boundaries_com] ([Column1], [ADM2_PCODE], [longitude], [latitude]) VALUES (0, N'HT0812', N'-74.25822755899998', N'18.65056404000006')
INSERT [spa_boundaries_com] ([Column1], [ADM2_PCODE], [longitude], [latitude]) VALUES (1, N'HT0321', N'-72.35331929799997', N'19.78220034300006')
INSERT [spa_boundaries_com] ([Column1], [ADM2_PCODE], [longitude], [latitude]) VALUES (2, N'HT0922', N'-72.63559015099997', N'19.90707298500007')


USE [master]

ALTER DATABASE [covid] SET  READ_WRITE 

